// @use "quasar/src/css/variables" as q;
// @use "sass:map";

// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// #################################################
// COLORS
// #################################################
$primary: #5c93c3;
$secondary: #26a69a;
$font: #333;
$dark: #1d1d1d;
$dark-page: #121212;
$accent: #9c27b0;
$white: #fff;
$background: #f6f6f6;
$borders: lightgrey;

$positive: #26a69a;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// =======================
//	Breakpoints
// =======================

//Quasar breakpoints
$breakpoint-xs: 400px;
$breakpoint-sm: 1023px;
$breakpoint-md: 1280px;
$breakpoint-lg: 1680px;

$breakpoints: (
  xs: 400px,
  s: 476px,
  m: 768px,
  l: 1024px,
  xl: 1280px,
  xxl: 1680px,
);

// =======================
//	Font Sizes
// =======================

$text-body: 16px;
$headline-h1: 44px;
$headline-h2: 28px;
$headline-h3: 21px;
$headline-h4: 21px;
$headline-h5: 18px;
$headline-h6: 16px;

// =======================
//	Layout
// =======================
$max-width: 1400px;
$space-margin: 30px;
$pad: 15px;
$ui-height: 40px;
